#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=mkdev-me.local

# Root password
rootpw --iscrypted $6$/LoWRHf3OlZtOm.x$uHhqOvcSI7R5QArNqeEhKM7UdNzluG2P8Iq0GP/huv3h9ULWo1hVjghN3Pmzi65mllaJPPHOCQMiL0.Lt0wQg.
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Novokuznetsk --isUtc
user --groups=wheel --name=polzovatel --password=$6$Vgy2kXlXCwAzwwvd$Z6ANX.ykog5EMCyEtS.cTQgct6wRI2SZ3.xU0SdPJPYeP8aGrB2dMyXhapUCiTERAb76iVYb7ZMrqPmkMg3to1 --iscrypted --gecos="polzovatel"
user --groups=wheel --name=vagrant --password=vagrant --gecos="vagrant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools
openssh-server
sudo

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post --log=/root/grubby.log
/sbin/grubby --update-kernel=ALL --args="console=ttyS0"
echo "vagrant ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/vagrant
sed -i -e 's/Defaults    requiretty.*/ #Defaults    requiretty/g' /etc/sudoers
echo "PubKeyAuthentication yes" >> /etc/ssh/sshd_config
sed -i -e 's@AuthorizedKeysFile.*@AuthorizedKeysFile %h/.ssh/authorized_keys@g' /etc/ssh/sshd_config
echo "PermitEmptyPasswords no" >> /etc/ssh/sshd_config
sed -i -e 's/PasswordAuthentication.*/PasswordAuthentication no/g' /etc/ssh/sshd_config
mkdir -p /home/vagrant/.ssh
chmod 0700 /home/vagrant/.ssh
curl -o /home/vagrant/.ssh/authorized_keys \
https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant.pub
chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant /home/vagrant/.ssh
/bin/systemctl restart  sshd.service
%end

reboot
